<div class="modal" mat-dialog-content>
  <div class="modal-container">
    <img class="modal-img" src="assets/img/modal.png" />
    <div class="modal-form-container">
      <img class="modal-img-small" src="assets/img/modal_small.png" />
      <fa-icon [icon]="faX" class="close-icon" (click)="onCloseClick()"></fa-icon>
      <form class="form" (ngSubmit)="onSubmit()" #signUpForm="ngForm">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Name is required</div>
        </div>
        <div class="form-group">
          <label for="email">Your email address</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger"> Email address is required</div>
        </div>
        <div class="form-group">
          <label for="company">Company name</label>
          <input type="text" class="form-control" id="company" required [(ngModel)]="model.company" name="company" #company="ngModel">
          <div [hidden]="company.valid || company.pristine" class="alert alert-danger"> Company name is required</div>
        </div>
        <div class="form-group">
          <label for="description">Tell us about your project</label>
          <textarea type="text" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel"></textarea>
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger"> Description is required</div>
        </div>
        <div mat-dialog-actions class="btn-container" align="center">
          <button type="submit" (click)="onConfirmClick()" class="btn btn-success" [disabled]="!signUpForm.form.valid">Submit</button>
        </div>
      </form>
      <div class="disclaimer">By clicking ‘Submit’, I accept BKJ WORKS processing the information above in accordance with its Terms of Service and Privacy Policy.</div>
    </div>
  </div>
</div>
